<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Detalhes do evento
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <div class="q-pa-md">

        <q-list class="row wrap justify-center items-start content-start">

          <q-item class="col-12">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="calendar_today"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h6">{{name}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="event"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Data</q-item-label>
              <q-item-label caption>{{date}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="access_time"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Hora</q-item-label>
              <q-item-label caption>{{start_time}} - {{end_time}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="record_voice_over"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Palestrante</q-item-label>
              <q-item-label caption>{{speaker_id}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="supervisor_account"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Coordenador</q-item-label>
              <q-item-label caption>{{coordinator_id}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="room"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Local</q-item-label>
              <q-item-label caption>{{local}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="people"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Quantidade máxima</q-item-label>
              <q-item-label caption>{{quantity}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="description"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Descrição</q-item-label>
              <q-item-label caption>{{teste}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  props: {

    coordinator_id: {
      type: Number,
      required: true
    },

    speaker_id: {
      type: Number,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: String,
      required: true
    },

    date: {
      type: String,
      required: true
    },

    quantity: {
      type: Number,
      required: true
    },

    start_time: {
      type: String,
      required: true
    },

    end_time: {
      type: String,
      required: true
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
