<template>

  <div class="col-12 col-sm-6">
    <q-card
      class="my-card"
      flat
      bordered
    >
      <transition
        enter-active-class="animated fadein"
        leave-active-class="animated fadeOut"
        mode="out-in"
        :duration="100"
      >
        <q-btn
          key="1"
          v-if="!skeleton"
          fab
          color="primary"
          icon="place"
          class="absolute"
          style="z-index: 1;top: 10px; right: 12px; transform: translateY(-50%);"
        >
          <q-tooltip
            anchor="top middle"
            self="bottom middle"
            content-class="bg-primary"
            content-style="font-size: 16px; text-align: center;"
          >
            {{local}}
          </q-tooltip>
        </q-btn>

        <q-btn
          key="2"
          v-if="skeleton"
          fab
          color="grey-9"
          icon="place"
          class="absolute"
          style="z-index: 1;top: 10px; right: 12px; transform: translateY(-50%);"
        />
      </transition>
      <q-card-section
        clickable
        v-ripple
        @click="EventDesc"
        class="cursor-pointer"
        horizontal
        style="min-height:185px;"
      >
        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="100"
        >
          <q-list
            key="3"
            v-if="!skeleton"
          >
            <q-item-label
              header
              overline
              class="q-py-sm q-pt-lg"
            >
              {{coordinator_id}} - {{speaker_id}}
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-item-label
                  lines="1"
                  class="text-h5 "
                >
                  {{name}}
                </q-item-label>
                <q-item-label lines="4">
                  <span class="text-caption">
                    {{description}}
                  </span>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

          <q-list
            key="4"
            v-if="skeleton"
            class="full-width"
          >
            <q-item-label
              header
              overline
              class="q-py-sm q-pt-lg"
            >
              <q-skeleton
                type="text"
                width="80%"
              />
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-item-label
                  lines="1"
                  class="text-h5 "
                >
                  <q-skeleton
                    type="rect"
                    width="100%"
                  />
                </q-item-label>
                <q-item-label class="q-py-sm">
                  <q-skeleton
                    width="100%"
                    height="70px"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </transition>
      </q-card-section>

      <q-separator />

      <transition
        enter-active-class="animated fadein"
        leave-active-class="animated fadeOut"
        mode="out-in"
        :duration="100"
      >
        <q-card-actions
          key="5"
          class="q-px-xs"
          v-if="!skeleton"
        >
          <q-btn
            flat
            icon="event"
            class=""
          >
            <q-tooltip
              anchor="top middle"
              self="bottom middle"
              content-class="bg-primary"
              content-style="font-size: 16px; text-align: center;"
            >
              {{date}}
            </q-tooltip>
          </q-btn>
          <q-btn flat>
            {{start_time}} - {{end_time}}
          </q-btn>
          <q-btn
            flat
            color="primary"
          >
            Participar
          </q-btn>
          <q-btn
            flat
            color="primary"
            icon="more_vert"
            size="12px"
          >
            <q-menu
              anchor="center left"
              self="center right"
            >
              <q-item
                clickable
                v-ripple
                class="text-primary non-selectable"
              >
                <q-item-section @click="EventEdit">Editar</q-item-section>
              </q-item>
              <q-item
                clickable
                v-ripple
                class="text-negative non-selectable"
              >
                <q-item-section @click="ConfirmDialog">Excluir</q-item-section>
              </q-item>
            </q-menu>
          </q-btn>
        </q-card-actions>

        <q-card-actions
          key="6"
          class="q-px-xs"
          v-if="skeleton"
        >
          <q-btn
            flat
            icon="event"
            color="grey-9"
          >
          </q-btn>
          <q-btn flat>
            <q-skeleton
              width="120px"
              type="text"
            />
          </q-btn>
          <q-btn
            flat
            color="primary"
          >
            <q-skeleton
              width="80px"
              type="text"
            />
          </q-btn>
          <q-btn
            flat
            color="grey-9"
            icon="more_vert"
            size="12px"
          >
            <q-menu
              anchor="center left"
              self="center right"
            >
              <q-item
                clickable
                v-ripple
                class="text-primary non-selectable"
              >
                <q-item-section @click="EventEdit">Editar</q-item-section>
              </q-item>
              <q-item
                clickable
                v-ripple
                class="text-negative non-selectable"
              >
                <q-item-section @click="ConfirmDialog">Excluir</q-item-section>
              </q-item>
            </q-menu>
          </q-btn>
        </q-card-actions>
      </transition>
      <q-inner-loading :showing="visible">
        <q-spinner-rings
          size="50px"
          color="primary"
        />
      </q-inner-loading>
    </q-card>
  </div>
</template>

<script>
import EventDesc from 'components/EventDesc.vue'
import EventEdit from 'components/EventEdit.vue'
import ConfirmDialog from 'components/ConfirmDialog.vue'

export default {

  data () {
    return {
      visible: false,
      skeleton: false
    }
  },

  props: {

    index: {
      type: Number,
      required: true
    },

    id: {
      type: Number,
      required: true
    },

    coordinator_id: {
      type: Number,
      required: true
    },

    speaker_id: {
      type: Number,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: String,
      required: true
    },

    date: {
      type: String,
      required: true
    },

    quantity: {
      type: Number,
      required: true
    },

    start_time: {
      type: String,
      required: true
    },

    end_time: {
      type: String,
      required: true
    }

  },

  methods: {
    EventDesc () {
      this.$q
        .dialog({
          component: EventDesc,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          id: this.id,
          coordinator_id: this.coordinator_id,
          speaker_id: this.speaker_id,
          name: this.name,
          description: this.description,
          local: this.local,
          quantity: this.quantity,
          date: this.date,
          start_time: this.start_time,
          end_time: this.end_time
          // ...more.props...
        })
        .onOk(() => {
          console.log('OK')
        })
        .onCancel(() => {
          console.log('Cancel')
        })
        .onDismiss(() => {
          console.log('Called on OK or Cancel')
        })
    },
    EventEdit () {
      this.$q
        .dialog({
          component: EventEdit,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          index: this.index,
          id: this.id,
          coordinator_id: this.coordinator_id,
          speaker_id: this.speaker_id,
          name: this.name,
          description: this.description,
          local: this.local,
          quantity: this.quantity,
          date: this.date,
          start_time: this.start_time,
          end_time: this.end_time
          // ...more.props...
        })
        .onOk((form) => {
          this.loading()
          console.log('EventEdited')
          console.log(form.index)
          this.$emit('EventEdited', form)
        })
        .onCancel(() => {
          console.log('Cancel')
        })
        .onDismiss(() => {
          console.log('Called on OK or Cancel')
        })
    },
    ConfirmDialog () {
      this.$q
        .dialog({
          component: ConfirmDialog,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          title: 'Deletar evento',
          title_class: 'text-negative',
          sub_title: 'Você tem certeza que deseja deletar o evento:',
          body: this.name,
          body_class: 'text-h6',
          left_button: 'Não',
          left_button_color: 'primary',
          rigth_button: 'Sim, desejo deletar',
          rigth_button_color: 'negative'
          // ...more.props...
        })
        .onOk(() => {
          console.log('EventDeleted')
          this.$emit('EventDeleted', this.id, this.index)
        })
        .onCancel(() => {
          console.log('Cancel')
        })
        .onDismiss(() => {
          console.log('Dimissed')
        })
    },

    loading () {
      this.visible = true
      this.skeleton = true
      setTimeout(() => {
        this.visible = false
        this.skeleton = false
      }, 2000)
    }
  }
}
</script>
