<template>

  <div class="col-12 col-sm-6">
    <q-card
      class="my-card"
      flat
      bordered
    >
      <q-btn
        fab
        color="grey-9"
        icon="place"
        class="absolute"
        style="z-index: 1;top: 10px; right: 12px; transform: translateY(-50%);"
      />
      <q-card-section
        clickable
        v-ripple
        class="cursor-pointer"
        horizontal
        style="min-height:185px"
      >
        <q-list class="full-width">
          <q-item-label
            header
            overline
            class="q-py-sm q-pt-lg"
          >
            <q-skeleton
              type="text"
              width="80%"
            />
          </q-item-label>
          <q-item>
            <q-item-section>
              <q-item-label
                lines="1"
                class="text-h5 "
              >
                <q-skeleton
                  type="rect"
                  width="100
                  %"
                />
              </q-item-label>
              <q-item-label class="q-py-sm">
                <q-skeleton
                  width="100%"
                  height="70px"
                />
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-separator />

      <q-card-actions class="q-px-xs">
        <q-btn
          flat
          icon="event"
          color="grey-9"
        >
        </q-btn>
        <q-btn flat>
          <q-skeleton
            width="90px"
            type="text"
          />
        </q-btn>
        <q-btn
          flat
          color="primary"
        >
          <q-skeleton
            width="60px"
            type="text"
          />
        </q-btn>
        <q-btn
          flat
          color="grey-9"
          icon="more_vert"
          size="12px"
        >
          <q-menu
            anchor="center left"
            self="center right"
          >
            <q-item
              clickable
              v-ripple
              class="text-primary non-selectable"
            >

            </q-item>
            <q-item
              clickable
              v-ripple
              class="text-negative non-selectable"
            >
            </q-item>
          </q-menu>
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>

export default {

  data () {
    return {
    }
  },

  props: {
  },

  methods: {

  }

}
</script>
