<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center items-center content-center">
      <div class="main-card-content">
        <q-form
          @submit="onSubmit"
          @reset="onReset"
        >
          <div class="row wrap justify-start items-start content-start q-col-gutter-md">
            <div class="col-10 q-mt-md">
              Informacoes básicas
            </div>

            <q-input
              filled
              dense
              counter
              maxlength="50"
              v-model="form.name"
              label="Primeiro nome *"
              hint="John"
              class="col-12 col-sm-6"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.']"
            />

            <q-input
              filled
              dense
              counter
              maxlength="50"
              v-model="form.surname"
              label="Sobrenome *"
              hint="Kirsten Lai"
              class="col-12 col-sm-6"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.']"
            />

            <q-input
              filled
              dense
              v-model="form.cpf"
              label="CPF"
              mask="###.###.###-##"
              fill-mask="#"
              hint="232.423.564-86"
              class="col-12 col-sm-3"
              lazy-rules
              :rules="[
              val => this.DocumentPersonBrFilter(val) || 'Desculpe, este CPF não é valido.']
              "
            />

            <q-input
              filled
              dense
              v-model="form.cellphone"
              label="Celular *"
              mask="(##) #####-####"
              fill-mask="#"
              hint="(12) 92384-9823"
              class="col-12 col-sm-3"
              :rules="[
              val => !!val || '* Por favor, digite algo.']"
            />

            <q-input
              hint="Data de nascimento"
              class="col-12 col-sm-6"
              filled
              dense
              mask="##-##-####"
              v-model="form.birth_date"
            >
              <template v-slot:prepend>
                <q-icon
                  name="event"
                  class="cursor-pointer"
                >
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="form.birth_date"
                      mask="DD-MM-YYYY"
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <q-input
              filled
              dense
              counter
              maxlength="60"
              v-model="form.course"
              label="Seu Curso"
              hint="Analise e Desenvolvimento de sistemas"
              class="col-12 col-sm-6"
            />

            <div class=" col-12 col-sm-6">
              <q-field
                v-model="form.sex"
                borderless
                :rules="[
                val => !!val || '* Por favor, selecione algo.']"
              >
                <q-radio
                  v-model="form.sex"
                  val="H"
                  label="Homem"
                />
                <q-radio
                  v-model="form.sex"
                  val="M"
                  label="Mulher"
                />
                <q-radio
                  v-model="form.sex"
                  val="O"
                  label="Outros"
                />
              </q-field>
            </div>

            <q-input
              v-model="form.description"
              filled
              dense
              counter
              maxlength="255"
              class="col-12 col-sm-6"
              label="Descricao"
              hint="Sou o John! Um rapaz Apaixonado por energético!"
              autogrow
            />

            <q-input
              filled
              dense
              counter
              maxlength="255"
              v-model="acessibilidade"
              label="Acessibilidade"
              hint="Necessita acompanhamento"
              class="col-12 col-sm-6"
            />
            <div class="col-10 q-mt-md">
              informações de Login
            </div>

            <!-- <q-input
              filled
              dense
              v-model="telefone_fixo"
              label="Telefone Fixo"
              mask="(##) ####-####"
              fill-mask="#"
              hint="(12) 2384-9823"
              class="col-12 col-sm-6"
              lazy-rules
            /> -->

            <q-input
              v-model="form.email"
              label="Email *"
              filled
              dense
              maxlength="70"
              hint="Email"
              class="col-12 col-sm-6"
              :rules="[
              val => !!val || '* Por favor, digite algo.',
              val => val.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{1,30}$/g) || 'Por favor, digite um email valido.']"
            />

            <q-input
              v-model="form.password"
              label="Senha *"
              filled
              dense
              maxlength="255"
              class="col-12 col-sm-6"
              :type="isPwd ? 'password' : 'text'"
              hint=""
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Por favor, digite sua senha.']"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>

            <div class="col-10 q-mt-md">
              Endereço
            </div>

            <q-input
              ref="cep"
              bottom-slots
              class="col-12 col-sm-6"
              v-model="form.cep"
              label="CEP"
              filled
              mask="#####-###"
              dense
              @blur="validarcep(form.cep)"
              lazy-rules="ondemand"
              :rules="[
              val => !!val || '* Por favor, digite algo.',
              val => validCep || 'CEP Invalido, por favor tente novamente.',
              ]"
            >

              <template v-slot:hint>
                04534-423
              </template>

              <template v-slot:after>
                <q-btn
                  round
                  dense
                  flat
                  @click="validarcep(form.cep)"
                  icon="send"
                />
              </template>
            </q-input>

            <q-input
              readonly
              flat
              dense
              v-model="form.street"
              label="Rua"
              class="col-12 col-sm-6"
            />
            <q-input
              readonly
              flat
              dense
              v-model="form.neighborhood"
              label="Bairro"
              class="col-12 col-sm-6"
            />

            <q-input
              readonly
              flat
              dense
              v-model="form.city"
              label="Cidade"
              class="col-8 col-sm-4"
            />

            <q-input
              readonly
              flat
              dense
              v-model="form.state"
              label="UF"
              class="col-4 col-sm-2"
            />

          </div>

          <div class="row justify-center items-center content-center q-pt-md">
            <div>
              <q-toggle
                v-model="accept"
                label="Eu aceito todos os termos"
              />
            </div>
          </div>
          <div class="row justify-center items-center content-center q-pt-lg">
            <div>
              <q-btn
                label="Criar"
                type="submit"
                color="primary"
              />
              <q-btn
                label="Limpar"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-form>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import notify from 'src/boot/notify'

export default {
  name: 'PageIndex',
  data () {
    return {
      isPwd: true,
      acessibilidade: null,
      accept: false,
      neighborhood: null,
      city: null,
      state: null,
      telefone_fixo: null,
      validCep: true,
      form: {
        name: null,
        surname: null,
        course: null,
        cpf: null,
        role_id: 1,
        password: '12345',
        description: null,
        birth_date: '01-05-1997',
        sex: null,
        cellphone: null,
        email: null,
        street: null,
        cep: null
      }
    }
  },

  created () {
    this.$checkAdmCredentials(localStorage.getItem('userRole'))
    this.$checkUserToken()
  },

  methods: {
    onSubmit () {
      if (this.accept !== true) {
        notify('Você precisa aceitar os termos para se cadastrar!', 'negative', 'warning', 'bottom')
      } else {
        this.$axios.post(`${process.env.API}/participant`, this.form).then(response => {
          notify('Administrador Cadastrado', 'positive', 'ok', 'top')
        }).catch(er => {
          if (er.response.status === 409) {
            notify('Já existe uma conta com este email!', 'negative', 'warning', 'top')
            console.log(er)
          } else {
            notify('Erro com servidor, verifique os dados e tente novamente.', 'negative', 'warning', 'top')
            console.log(er)
          }
        })
      }
    },

    onReset () {
      this.form.name = null
      this.form.surname = null
      this.form.course = null
      this.form.cpf = null
      this.form.description = null
      this.form.birth_date = '01-05-1997'
      this.form.sex = null
      this.form.cellphone = null
      this.form.email = null
      this.form.street = null
      this.acessibilidade = null
      this.accept = false
      this.form.neighborhood = null
      this.form.cep = null
      this.form.city = null
      this.form.state = null
    },

    DocumentPersonBrFilter (documentId) {
      if (documentId !== null) {
        documentId = documentId.replace(/[^\d]+/g, '')
        if (documentId === '') return false
        // Elimina documentIds invalidos conhecidos
        if (documentId.length !== 11 ||
          documentId === '00000000000' ||
          documentId === '11111111111' ||
          documentId === '22222222222' ||
          documentId === '33333333333' ||
          documentId === '44444444444' ||
          documentId === '55555555555' ||
          documentId === '66666666666' ||
          documentId === '77777777777' ||
          documentId === '88888888888' ||
          documentId === '99999999999') { return false }
        // Valida 1o digito
        var add = 0
        for (var i = 0; i < 9; i++) { add += parseInt(documentId.charAt(i)) * (10 - i) }
        var rev = 11 - (add % 11)
        if (rev === 10 || rev === 11) { rev = 0 }
        if (rev !== parseInt(documentId.charAt(9))) { return false }
        // Valida 2o digito
        add = 0
        for (i = 0; i < 10; i++) { add += parseInt(documentId.charAt(i)) * (11 - i) }
        rev = 11 - (add % 11)
        if (rev === 10 || rev === 11) { rev = 0 }
        if (rev !== parseInt(documentId.charAt(10))) { return false }
        return true
      }
    },

    validarcep (cep) {
      if (cep !== null) {
        cep = cep.replace(/[#-]/g, '')

        if (cep.length === 8) {
          this.$axios.get(`https://viacep.com.br/ws/${cep}/json`).then(response => {
            if (response.data.erro === true) {
              this.validCep = false
              this.form.neighborhood = ''
              this.form.city = ''
              this.form.street = ''
              this.form.state = ''
              this.$refs.cep.validate()
            } else {
              this.form.neighborhood = response.data.bairro
              this.form.city = response.data.localidade
              this.form.street = response.data.logradouro
              this.form.state = response.data.uf
              this.validCep = true
              this.$refs.cep.validate()
            }
          }).catch(er => {

          })
        } else {
          this.validCep = false
          this.$refs.cep.validate()
        }
      }
    },

    TimeoutNotify (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: 100%;

  @media (min-width: $breakpoint-sm-min) {
    margin: 20px;
    max-width: 630px;
  }
}

.card-content {
  width: 90%;
  // background-color: green;
}
</style>
