<template>
  <div class="fullscreen bg-primary text-white text-center q-pa-md flex flex-center">
    <div>
      <div class="full-width">
        <img
          class="full-width"
          src="fug_fox.png"
          alt=""
        >
      </div>

      <div
        class="text-h2 text-bold"
        style="opacity:.5"
      >
        404
      </div>

      <div
        class="text-h3"
        style="opacity:.4"
      >
        Oops. Nada aqui...
      </div>

      <q-btn
        class="q-mt-xl"
        flat
        to="/"
        label="Volte a home"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
