
<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center items-center content-center">
      <div class="main-card-content">
        <q-form
          @submit="onSubmit"
          @reset="onReset"
        >
          <div class="row wrap justify-start items-start content-start q-col-gutter-md">
            <div class="col-10 q-mt-md">
              <font size="+3">Criação de local</font>
            </div>
            <q-input
              v-model="form.name"
              counter
              maxlength="80"
              label="Nome do local *"
              class="col-12"
              hint="Sala 25"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Por favor, digite algo.',
              ]"
            />

            <q-input
              class="col-12 col-sm-6"
              filled
              v-model="form.capacity"
              label="Capacidade *"
              mask="####"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Por favor, digite algo.',
              ]"
            />

            <q-input
              class="col-12 col-sm-6"
              filled
              type="string"
              counter
              maxlength="255"
              v-model="form.accessibility"
              label="Acessibilidade"
              hint="Disponivel, limitada, indisponivel."
              mask="####"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Por favor, digite algo.',
              ]"
            />

            <q-input
              class="col-12"
              label=" Descrição *"
              v-model="form.description"
              filled
              counter
              maxlength="255"
              type="textarea"
              hint="A sala possui projetor, caixas de som, etc ..."
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Por favor, digite algo.',
              ]"
            />
          </div>

          <div class="q-py-lg row justify-center items-center content-center q-col-gutter-md">
            <div class="col-sm-4">
              <q-btn
                label="Criar"
                type="submit"
                color="primary"
              />
              <q-btn
                label="Limpar"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-form>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import ConfirmDialog from 'components/ConfirmDialog.vue'

const myform = () => {
  return {
    name: null,
    start_time: '00:00',
    end_time: '00:00',
    description: null,
    date: '2001-12-28',
    local: null,
    speaker_id: null,
    coordinator_id: 1,
    quantity: null
  }
}

export default {
  name: 'PageIndex',
  data () {
    return {
      form: {
        name: null,
        description: null,
        accessibility: null,
        capacity: null
      }
    }
  },

  created () {
    this.$checkUserCredentials(localStorage.getItem('userRole'))
    this.$checkUserToken()
  },

  methods: {
    onSubmit () {
      this.$axios.post(`${process.env.API}/local`, this.form, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        this.speakerResponse = response.data
        this.ConfirmDialog()
      }).catch(er => {
        if (er.response.status === 401) {
          this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
          localStorage.removeItem('acessToken')
          localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
          this.$router.push('/')
        } else {
          this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
        }
      })
    },

    onReset () {
      this.form = myform()
    },
    ConfirmDialog () {
      this.$q
        .dialog({
          component: ConfirmDialog,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          title: 'Local criado com sucesso!',
          title_class: 'text-primary',
          sub_title: '',
          body: '',
          body_class: 'text-h6',
          left_button: '',
          left_button_color: 'primary',
          rigth_button: 'Ok!',
          rigth_button_color: 'primary'
          // ...more.props...
        })
        .onOk(() => {

        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  @media (min-width: $breakpoint-md-min) {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
  }

  .card-content {
    width: 80%;
    // background-color: red;
  }
}
</style>
