<template>
  <q-page class="flex flex-center">
    <q-card
      class="login-card q-py-lg row justify-center items-center content-center"
      style=""
    >
      <div
        class="login-card-content"
        style=""
      >
        <div class="q-pb-lg text-h5">Autenticação</div>
        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            filled
            v-model="form.email"
            label="Email *"
            lazy-rules
            :rules="[
              val => !!val || '* Por favor, digite algo.',
              val => val.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{1,30}$/g) || 'Por favor, digite um email valido.']"
          />

          <q-input
            v-model="form.password"
            label="Senha *"
            filled
            :type="isPwd ? 'password' : 'text'"
            hint=""
            lazy-rules
            :rules="[ val => !!val || 'Por favor, digite sua senha.']"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>

          <div class="row justify-center items-center content-center q-pt-">
            <div>
              <q-btn
                label="Logar"
                type="submit"
                color="primary"
              />
              <q-btn
                label="Limpar"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
            <div class="q-mt-lg">
              <q-btn
                label="Criar conta"
                type="submit"
                color="positive"
                flat
                to="/cadastro"
              />
              <q-btn
                label="Redefinir senha"
                type="reset"
                color="negative"
                flat
                class="q-ml-sm"
                to="/recuperar_senha"
              />
            </div>
          </div>
        </q-form>
      </div>
    </q-card>

  </q-page>

</template>

<script>
import { QSpinnerPuff } from 'quasar'

export default {
  name: 'PageIndex',
  data () {
    return {
      isPwd: true,
      userid: localStorage.getItem('userid'),
      form: {
        email: null,
        password: ''
      }
    }
  },

  methods: {
    onSubmit () {
      this.login()
    },

    onReset () {
      this.email = null
      this.password = null
    },

    showLoading () {
      this.$q.loading.show({
        spinner: QSpinnerPuff,
        spinnerColor: 'purple',
        spinnerSize: 140,
        backgroundColor: 'black',
        messageColor: 'white'
      })
    },

    login () {
      this.showLoading()
      // Começo do Login
      this.$axios.post(`${process.env.API}/auth/login`, this.form).then(res => {
        // Pegando token de autorização

        var acessToken = { Authorization: `Bearer ${res.data.acess_token}` }
        localStorage.setItem('acessToken', JSON.stringify(acessToken))

        // Verificando id do usuário
        this.getUserID()
      }).catch(er => {
        this.$q.loading.hide()
        this.$q.notify({
          type: 'negative',
          progress: true,
          position: 'top',
          message: 'Usuário invalido',
          caption: 'por favor tente novamente',
          multiLine: true,
          icon: 'warning'
        })
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
      })
    },

    getUserID () {
      this.$axios.get(`${process.env.API}/auth/current`, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // Guardando id do usuário logado
        localStorage.setItem('userRole', response.data.role)
        localStorage.setItem('userId', response.data.identity)
        const URL = `/${localStorage.getItem('userId')}/dashboard`

        setTimeout(() => {
          this.$q.loading.hide()
          this.$q.notify({
            type: 'positive',
            progress: true,
            position: 'top',
            message: 'Você está logado!',
            caption: 'Seja bem vindo.',
            multiLine: true,
            icon: 'done'
          })
          this.$router.push(URL)
        }, 700)
      }).catch(error => {
        this.$q.loading.hide()
        console.log(error)
        this.$q.notify({
          type: 'negative',
          progress: true,
          position: 'top',
          message: 'Usuário invalido',
          caption: 'por favor tente novamente',
          multiLine: true,
          icon: 'warning'
        })
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
      })
    }

  }
}
</script>

<style lang="scss" scoped>
</style>
