<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center items-center content-center">

      <!-- Conteudo -->
      <div class="main-card-content">
        <q-form
          @submit="onSubmit"
          @reset="onReset"
        >
          <div class="row wrap justify-start items-start content-start q-col-gutter-md">
            <div class="col-12 q-mx-sm q-mt-sm">
              <div class="col-6 text-h5">Informações básicas</div>
            </div>

            <transition
              enter-active-class="animated fadein"
              leave-active-class="animated fadeOut"
              mode="out-in"
              :duration="{ enter: 700, leave: 400 }"
            >
              <!-- Content -->
              <div
                class="col-12 row wrap justify-start items-start content-start q-col-gutter-md"
                key="ContentBI"
                v-if="userData.name !== null"
              >
                <q-input
                  dense
                  counter
                  maxlength="50"
                  v-model="userData.name"
                  hint="Primeiro nome *"
                  class="col-6"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.']"
                />

                <q-input
                  dense
                  counter
                  maxlength="50"
                  v-model="userData.surname"
                  hint="Sobrenome *"
                  class="col-6"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.']"
                />

                <q-input
                  dense
                  v-model="userData.cpf"
                  mask="###.###.###-##"
                  fill-mask="#"
                  hint="CPF"
                  class="col-6 col-sm-3"
                  lazy-rules
                  :rules="[
              val => this.DocumentPersonBrFilter(val) || 'Desculpe, este CPF não é valido.']
              "
                />

                <q-input
                  dense
                  v-model="userData.cellphone"
                  mask="(##) #####-####"
                  fill-mask="#"
                  hint="Celular"
                  class="col-6 col-sm-3"
                  :rules="[
              val => !!val || '* Por favor, digite algo.']"
                />

                <q-input
                  hint="Data de nascimento"
                  class="col-6"
                  dense
                  v-model="userData.birth_date"
                >
                  <template v-slot:prepend>
                    <q-icon
                      name="event"
                      class="cursor-pointer"
                    >
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          v-model="userData.birth_date"
                          mask="DD-MM-YYYY"
                        >
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>

                <q-input
                  dense
                  v-model="userData.course"
                  hint="Seu Curso"
                  class="col-6"
                />

                <div class=" col-6">
                  <q-field
                    v-model="userData.sex"
                    style="height:60px"
                    borderless
                    :rules="[
                val => !!val || '* Por favor, selecione algo.']"
                  >
                    <q-radio
                      v-model="userData.sex"
                      val="H"
                      label="Homem"
                    />
                    <q-radio
                      v-model="userData.sex"
                      val="M"
                      label="Mulher"
                    />
                    <q-radio
                      v-model="userData.sex"
                      val="O"
                      label="Outros"
                    />
                  </q-field>
                </div>

                <q-input
                  v-model="userData.description"
                  dense
                  counter
                  maxlength="255"
                  class="col-12"
                  hint="Descrição"
                  autogrow
                />
              </div>
              <!-- Skeleton -->
              <div
                class="col-12 row wrap justify-start items-start content-start q-col-gutter-md"
                key="SkeletonContentBI"
                v-else-if="skeleton"
              >

                <div class="col-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6 col-sm-3">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6 col-sm-3">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-12 col-sm-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-12">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>
              </div>
            </transition>
            <div class="col-12 q-mx-sm q-mt-sm text-h5">
              Informações de Login
            </div>

            <transition
              enter-active-class="animated fadein"
              leave-active-class="animated fadeOut"
              mode="out-in"
              :duration="{ enter: 700, leave: 400 }"
            >
              <!-- Content -->
              <div
                class="col-12 row wrap justify-start items-start content-start q-col-gutter-md"
                key="ContentLogin"
                v-if="userData.name !== null"
              >

                <q-input
                  v-model="userData.email"
                  dense
                  counter
                  maxlength="70"
                  hint="Email *"
                  class="col-12 col-sm-6"
                  :rules="[
              val => val.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{1,30}$/g) || 'Por favor, digite um email valido.']"
                />

                <q-input
                  v-model="userData.newPassword"
                  dense
                  placeholder="**********"
                  class="col-6 col-sm-3"
                  counter
                  maxlength="255"
                  :type="isPwd ? 'password' : 'text'"
                  hint="Nova Senha"
                >
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>

                <q-input
                  v-model="confirmPasswd"
                  dense
                  counter
                  maxlength="255"
                  placeholder="**********"
                  class="col-6 col-sm-3"
                  :type="isPwd ? 'password' : 'text'"
                  hint="Confirmar nova Senha"
                >
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>

              </div>
              <!-- Skeleton -->
              <div
                class="col-12 row wrap justify-start items-start content-start q-col-gutter-md"
                key="SkeletonContentLogin"
                v-else-if="skeleton"
              >

                <div class="col-12 col-sm-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6 col-sm-3">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6 col-sm-3">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>
              </div>
            </transition>
            <div class="col-10 q-mx-sm q-mt-sm text-h5">
              Endereço
            </div>

            <transition
              enter-active-class="animated fadein"
              leave-active-class="animated fadeOut"
              mode="out-in"
              :duration="{ enter: 700, leave: 400 }"
            >
              <!-- Content -->
              <div
                class="col-12 row wrap justify-start items-start content-start q-col-gutter-md"
                key="ContentLocal"
                v-if="userData.name !== null"
              >
                <q-input
                  ref="cep"
                  bottom-slots
                  class="col-6"
                  v-model="userData.cep"
                  mask="#####-###"
                  dense
                  @blur="validarcep(userData.cep)"
                  lazy-rules="ondemand"
                  :rules="[
              val => !!val || '* Por favor, digite algo.',
              val => validCep || 'CEP Invalido, por favor tente novamente.',
              ]"
                >

                  <template v-slot:hint>
                    CEP
                  </template>

                  <template v-slot:append>
                    <q-btn
                      round
                      dense
                      flat
                      @click="validarcep(userData.cep)"
                      icon="send"
                    />
                  </template>
                </q-input>

                <q-input
                  readonly
                  flat
                  dense
                  v-model="userData.street"
                  label="Rua"
                  class="col-12 col-sm-6"
                />
                <q-input
                  readonly
                  flat
                  dense
                  v-model="userData.neighborhood"
                  label="Bairro"
                  class="col-6"
                />

                <q-input
                  readonly
                  flat
                  dense
                  v-model="userData.city"
                  label="Cidade"
                  class="col-6 col-sm-4"
                />

                <q-input
                  readonly
                  flat
                  dense
                  v-model="userData.state"
                  label="UF"
                  class="col-4 col-sm-2"
                />
              </div>
              <!-- Skeleton -->
              <div
                class="col-12 row wrap justify-start items-start content-start q-col-gutter-md"
                key="SkeletonContentLocal"
                v-else-if="skeleton"
              >
                <div class="col-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-12 col-sm-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-6 col-sm-4">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>

                <div class="col-4 col-sm-2">
                  <q-skeleton
                    type="QInput"
                    clickable
                    v-ripple
                    width="100%"
                  />
                </div>
              </div>

            </transition>

          </div>

          <div class="row justify-center items-center content-center q-pt-lg">
            <div>
              <q-btn
                label="Alterar as informações"
                type="submit"
                color="primary"
              >
                <q-menu
                  cover
                  anchor="bottom left"
                >
                  <q-item>
                    <q-item-section>Desculpa, eu ainda não funciono</q-item-section>
                  </q-item>
                </q-menu>
              </q-btn>
            </div>
          </div>
        </q-form>
      </div>

    </q-card>
  </q-page>
</template>

<script>
// import notify from 'src/boot/notify'

export default {
  name: 'PageIndex',
  data () {
    return {
      confirmPasswd: null,
      skeleton: true,
      isPwd: true,
      neighborhood: null,
      city: null,
      state: null,
      validCep: true,
      resetUserData: null,
      userData: {
        name: null,
        surname: null,
        course: null,
        cpf: null,
        role_id: null,
        password: null,
        description: null,
        birth_date: null,
        sex: null,
        cellphone: null,
        email: null,
        street: null,
        cep: null
      }
    }
  },

  created () {
    this.$axios.get(`${process.env.API}/participant/${localStorage.getItem('userId')}`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      console.log(response.data)

      this.userData.name = response.data.name
      this.userData.surname = response.data.surname
      this.userData.course = response.data.course
      this.userData.cpf = response.data.cpf
      this.userData.role_id = response.data.role_id
      this.userData.password = '4321'
      this.userData.description = response.data.description
      this.userData.birth_date = response.data.birth_date
      this.userData.sex = response.data.sex
      this.userData.cellphone = response.data.cellphone
      this.userData.email = response.data.email
      this.userData.street = response.data.street
      this.userData.cep = response.data.cep

      this.resetUserData = this.userData
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Oops, aconteceu alguma coisa!', 'Tente novamente.', 'error', 0)
      }
    })
  },

  methods: {
    onSubmit () {
      // deep copy object
      var aux = JSON.parse(JSON.stringify(this.userData))

      console.log(aux)
      this.$axios.put(`${process.env.API}/user`, aux, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API

        console.log(response)
      }).catch(er => {
        if (er.response.status === 401) {
          console.log('deu errado')
        } else {
          this.showNotifs('negative', 'Não foi possivel criar seu evento', 'verifique sua conexão com a internet', 'error', 3000)
        }
      })
    },

    onReset () {

    },

    DocumentPersonBrFilter (documentId) {
      if (documentId !== null) {
        documentId = documentId.replace(/[^\d]+/g, '')
        if (documentId === '') return false
        // Elimina documentIds invalidos conhecidos
        if (documentId.length !== 11 ||
          documentId === '00000000000' ||
          documentId === '11111111111' ||
          documentId === '22222222222' ||
          documentId === '33333333333' ||
          documentId === '44444444444' ||
          documentId === '55555555555' ||
          documentId === '66666666666' ||
          documentId === '77777777777' ||
          documentId === '88888888888' ||
          documentId === '99999999999') { return false }
        // Valida 1o digito
        var add = 0
        for (var i = 0; i < 9; i++) { add += parseInt(documentId.charAt(i)) * (10 - i) }
        var rev = 11 - (add % 11)
        if (rev === 10 || rev === 11) { rev = 0 }
        if (rev !== parseInt(documentId.charAt(9))) { return false }
        // Valida 2o digito
        add = 0
        for (i = 0; i < 10; i++) { add += parseInt(documentId.charAt(i)) * (11 - i) }
        rev = 11 - (add % 11)
        if (rev === 10 || rev === 11) { rev = 0 }
        if (rev !== parseInt(documentId.charAt(10))) { return false }
        return true
      }
    },

    validarcep (cep) {
      if (cep !== null) {
        cep = cep.replace(/[#-]/g, '')

        if (cep.length === 8) {
          this.$axios.get(`https://viacep.com.br/ws/${cep}/json`).then(response => {
            if (response.data.erro === true) {
              this.validCep = false
              this.userData.neighborhood = ''
              this.userData.city = ''
              this.userData.street = ''
              this.userData.state = ''
              this.$refs.cep.validate()
            } else {
              this.userData.neighborhood = response.data.bairro
              this.userData.city = response.data.localidade
              this.userData.street = response.data.logradouro
              this.userData.state = response.data.uf
              this.validCep = true
              this.$refs.cep.validate()
            }
          }).catch(er => {
            console.log(er)
          })
        } else {
          this.validCep = false
          this.$refs.cep.validate()
        }
      }
    }

  }
}
</script>

<style lang="scss" scoped>
.card {
  width: 100%;

  @media (min-width: $breakpoint-sm-min) {
    margin: 20px;
    max-width: 630px;
  }
}

.card-content {
  width: 90%;
  // background-color: green;
}
</style>
