<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
    persistent
    transition-show="scale"
    transition-hide="scale"
  >
    <q-card class="q-dialog-plugin">
      <q-card-section :class="title_class">
        <div class="text-h6">{{title}}</div>
      </q-card-section>

      <q-card-section :class="sub_title_class">
        {{sub_title}}
      </q-card-section>

      <q-card-section :class="body_class">
        {{body}}
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          v-if="left_button !== ''"
          @click="onCancelClick"
          flat
          :color="left_button_color"
          :label="left_button"
        />
        <q-btn
          @click="onOKClick"
          flat
          :color="rigth_button_color"
          :label="rigth_button"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  props: {
    title: {
      type: String,
      required: true
    },

    title_class: {
      type: String
    },

    sub_title: {
      type: String
    },

    sub_title_class: {
      type: String
    },

    body: {
      type: String
    },

    body_class: {
      type: String
    },

    left_button: {
      type: String
    },

    left_button_color: {
      type: String
    },

    rigth_button: {
      type: String
    },

    rigth_button_color: {
      type: String
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
