<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Detalhes do evento
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <div class="q-pa-md">

        <q-list class="row wrap justify-center items-start content-start">

          <q-item class="col-12">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="calendar_today"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h6">Palestra Google Cloud Platform</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="event"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Data</q-item-label>
              <q-item-label caption>28/12/2020</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="access_time"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Hora</q-item-label>
              <q-item-label caption>8:00 - 9:00</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="record_voice_over"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Palestrante</q-item-label>
              <q-item-label caption>John Kirsten Lai</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="supervisor_account"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Coordenador</q-item-label>
              <q-item-label caption>Niltinho</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="room"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Local</q-item-label>
              <q-item-label caption>Teatro UMC</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="people"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Quantidade máxima</q-item-label>
              <q-item-label caption>30 Participantes</q-item-label>
            </q-item-section>
          </q-item>

          <q-item class="col-12">
            <q-item-section avatar>
              <q-icon
                color="primary"
                name="description"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Descrição</q-item-label>
              <q-item-label caption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  data () {
    return {
      sizeh: 50,
      sizew: 50
    }
  },

  props: {
    // ...your custom props
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
