<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card>
      <q-card-section>
        <div class="text-h6">Sucesso!</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        Evento Criado com sucesso.
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          flat
          label="OK"
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  data () {
    return {
      nome: 'Palestra Google Cloud Platform',
      horaInicio: '00:00',
      horaFim: '00:00',
      descricao: null,
      data: '2001/12/28',
      localEvento: null,
      palestrante: null,
      coordenador: 'Recardenho',
      MaxParticipantes: null,
      dense: null,
      accept: false,
      model: null
    }
  },

  props: {
    // ...your custom props
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
