<template>
  <q-dialog
    ref="dialog"
    persistent
    @hide="onDialogHide"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Detalhes do evento
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 50vh"
        class="scroll"
      >
        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="{ enter: 700, leave: 400 }"
        >
          <div
            class=""
            key="content"
            v-if="this.Users"
          >
            <q-list>
              <transition-group
                class="row justify-center items-center content-center q-col-gutter-md"
                enter-active-class="animated fadein"
                leave-active-class="animated fadeOut"
                mode="out-in"
                :duration="{ enter: 500, leave: 200 }"
              >
                <UserCardPresence
                  v-for="(user, index) in Users"
                  :key="user.id"
                  v-bind="user"
                  :index="index"
                  @addPresence="addPresence"
                  @delPresence="delPresence"
                />
              </transition-group>
            </q-list>
          </div>
          <div
            class=""
            key="skeleton"
            v-else-if="this.SkeletonUsers"
          >
            <q-list class=" row justify-center items-center content-center q-col-gutter-md">
              <SkeletonUserCardPresence
                v-for="(user, index) in SkeletonUsers"
                :key="user.id"
                v-bind="user"
                :index="index"
              />
            </q-list>
          </div>
        </transition>

      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          flat
          label="Cancelar"
          color="negative"
          @click="onCancelClick"
        />
        <q-btn
          flat
          label="Confirmar presenças"
          color="positive"
          @click="onOKClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import UserCardPresence from 'components/UserCardPresence.vue'
import SkeletonUserCardPresence from 'components/SkeletonUserCardPresence.vue'
import notify from 'src/boot/notify'

export default {

  components: { UserCardPresence, SkeletonUserCardPresence },

  props: {

    index: {
      type: Number,
      required: false
    },

    id: {
      type: Number,
      required: false
    },

    coordinator: {
      type: Object,
      required: false
    },

    speaker: {
      type: Object,
      required: false
    },

    name: {
      type: String,
      required: false
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: Object,
      required: false
    },

    date: {
      type: String,
      required: false
    },

    start_time: {
      type: String,
      required: false
    },

    end_time: {
      type: String,
      required: false
    }
  },

  data () {
    return {
      Users: null,
      skeleton: true,
      presence: [],
      SkeletonUsers: [{
        id: 1
      }, {
        id: 2
      }, {
        id: 3
      }, {
        id: 4
      }, {
        id: 5
      }, {
        id: 6
      }, {
        id: 7
      }, {
        id: 8
      }, {
        id: 9
      }, {
        id: 10
      }]
    }
  },

  created () {
    this.$axios.get(`${process.env.API}/event/participant/get_subscribers/${this.id}`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      if (response.data.length === 0) {
        this.skeleton = false
      } else {
        var Users = []
        response.data.forEach(element => {
          Users.push(element.participant)
        })
        console.log(Users)
        this.Users = Users
      }
    }).catch(er => {
      notify('Não foi possivel carregar os dados, tente logar novamente!', 'negative', 'warning', 'top')
    })
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$axios.post(`${process.env.API}/event/presence/${this.id}`, this.presence, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        console.log(response)
      }).catch(er => {
        if (er.response.status === 401) {
          notify('Ops, você não tem permissão para fazer isso.', 'negative', 'warning', 'top')
        } else {
          console.log(er)
          notify('Ops, aconteceu alguma coisa errada, tente novamente mais tarde.', 'negative', 'warning', 'top')
        }
      })
      this.$emit('ok')
      //
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },

    addPresence (id) {
      this.presence.push(id)
      console.log(this.presence)
    },

    delPresence (id) {
      this.presence.splice(this.presence.indexOf(id), 1)
      console.log(this.presence)
    }

  }

}
</script>
