<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
    v-model="fixed"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Detalhes do evento
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 50vh"
        class="scroll"
      >
        <div>
          <q-list class="row wrap justify-center items-start content-start">
            <q-item class="col-12">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="calendar_today"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-h6 break_word">{{name}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12 col-sm-6">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="event"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Data</q-item-label>
                <q-item-label caption>{{date}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12 col-sm-6">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="access_time"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Hora</q-item-label>
                <q-item-label caption>{{start_time}} - {{end_time}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12 col-sm-6">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="record_voice_over"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Palestrante</q-item-label>
                <q-item-label
                  caption
                  class="break_word"
                >{{speaker.name}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12 col-sm-6">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="supervisor_account"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Coordenador</q-item-label>
                <q-item-label
                  caption
                  class="break_word"
                >{{coordinator.name}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12 col-sm-6">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="room"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Local</q-item-label>
                <q-item-label caption>{{local.name}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12 col-sm-6">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="people"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Quantidade máxima</q-item-label>
                <q-item-label caption>{{local.capacity}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item class="col-12">
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="description"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Descrição</q-item-label>
                <q-item-label
                  caption
                  class="break_word"
                >{{description}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>

      </q-card-section>

    </q-card>
  </q-dialog>
</template>

<script>
export default {

  data () {
    return {
      fixed: false,
      basic: false
    }
  },

  props: {

    coordinator: {
      type: Object,
      required: true
    },

    speaker: {
      type: Object,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: Object,
      required: true
    },

    date: {
      type: String,
      required: true
    },

    start_time: {
      type: String,
      required: true
    },

    end_time: {
      type: String,
      required: true
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
