<template>
  <div class="row items-center q-gutter-md">

    <q-card
      class="my-card"
      flat
      bordered
    >
      <!-- Icone do local -->
      <q-btn
        key="1"
        fab
        color="grey-9"
        icon="place"
        class="absolute"
        style="z-index: 1;top: 10px; right: 12px; transform: translateY(-50%);"
      >
      </q-btn>

      <!-- Conteudo do card -->
      <q-card-section
        horizontal
        clickable
        v-ripple
        class="cursor-pointer content"
      >
        <q-list key="3">
          <q-item-label
            header
            overline
            class="q-py-sm q-pt-lg"
          >
            <q-skeleton
              type="text"
              width="200px"
            />
          </q-item-label>
          <q-item>
            <q-item-section>
              <q-item-label
                lines="1"
                class="text-h5 "
              >
                <q-skeleton
                  type="rect"
                  width="265px"
                />
              </q-item-label>
              <q-item-label lines="4">
                <span class="text-caption">
                  <q-skeleton
                    width="265px"
                    height="80px"
                  />
                </span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-separator />

      <!-- Botões do card -->
      <q-card-actions align="center">
        <q-btn
          flat
          icon="event"
          color="grey-9"
        />
        <q-btn flat>
          <q-skeleton
            type="rect"
            width="80px"
          />
        </q-btn>
        <q-btn
          flat
          color="grey-9"
        >
          <q-skeleton
            type="rect"
            width="60px"
          />
        </q-btn>
        <q-btn
          flat
          color="grey-9"
          icon="more_vert"
        />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>

export default {
  data () {
    return {
    }
  },
  props: {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  width: 300px;
  .content {
    height: 180px;
  }
}
</style>
