<template>
  <div class="col-12">
    <q-card bordered>
      <q-list>
        <q-item-label />
        <q-item
          clickable
          v-ripple
          style="width: 100%"
        >
          <q-item-section avatar>
            <q-avatar>
              <q-skeleton
                type="QAvatar"
                width="100%"
              />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label lines="1">
              <q-skeleton
                type="rect"
                width="80%"
              />
            </q-item-label>
            <q-item-label caption>
              <q-skeleton
                type="text"
                width="95%"
              />
            </q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-checkbox
              disable
              v-model="val"
            />
          </q-item-section>
        </q-item>

      </q-list>
    </q-card>
  </div>
</template>

<script>

export default {

  data () {
    return {
      val: false,
      visible: false,
      skeleton: false
    }
  },

  props: {

  },

  methods: {

  }
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  width: 100%;
  width: 320px;
  .content {
    height: 180px;
  }
}
</style>
