<template>
  <div class="col-12">
    <q-card bordered>
      <q-list>
        <q-item-label />

        <q-item
          v-if="skeleton"
          clickable
          v-ripple
          style="width: 100%"
        >
          <q-item-section avatar>
            <q-avatar>
              <q-skeleton
                type="QAvatar"
                width="100%"
              />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label lines="1">
              <q-skeleton
                type="rect"
                width="80%"
              />
            </q-item-label>
            <q-item-label caption>
              <q-skeleton
                type="text"
                width="95%"
              />
            </q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-checkbox
              disable
              v-model="val"
            />
          </q-item-section>
        </q-item>

        <q-item
          v-else
          clickable
          v-ripple
          @click="UserDesc"
          class="non-selectable"
          style="width: 100%"
        >
          <q-item-section avatar>
            <q-avatar
              color="primary"
              font-size="35px"
              icon="person_pin"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label lines="1">{{name}} {{surname}}</q-item-label>
            <q-item-label
              caption
              lines="1"
            >{{email}}</q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-checkbox
              @input="checkbox(val)"
              v-model="val"
            />
          </q-item-section>
        </q-item>

        <q-inner-loading :showing="visible">
          <q-spinner-puff
            size="100px"
            color="primary"
          />
        </q-inner-loading>
      </q-list>
    </q-card>
  </div>
</template>

<script>
import UserDesc from 'components/UserDesc.vue'

export default {

  data () {
    return {
      val: false,
      visible: false,
      skeleton: false
    }
  },

  props: {

    id: {
      type: Number,
      required: false
    },

    index: {
      type: Number,
      required: false
    },

    number: {
      type: String,
      required: false
    },

    name: {
      type: String,
      required: false
    },

    surname: {
      type: String,
      required: false
    },

    initial: {
      type: String,
      required: false
    },

    birth_date: {
      type: String,
      required: false
    },

    sex: {
      type: String,
      required: false
    },

    course: {
      type: String,
      required: false
    },

    cpf: {
      type: String,
      required: false
    },

    phone: {
      type: String,
      required: false
    },

    cellphone: {
      type: String,
      required: false
    },

    email: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },

    accessibility: {
      type: String,
      required: false
    },

    street: {
      type: String,
      required: false
    },

    neighborhood: {
      type: String,
      required: false
    },

    cep: {
      type: String,
      required: false
    },

    city: {
      type: String,
      required: false
    },
    state: {
      type: String,
      required: false
    }
  },

  methods: {
    UserDesc () {
      this.$q
        .dialog({
          component: UserDesc,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          id: this.id,
          index: this.index,
          birth_date: this.birth_date,
          number: this.number,
          name: this.name,
          surname: this.surname,
          date: this.date,
          sex: this.sex,
          course: this.course,
          cpf: this.cpf,
          phone: this.phone,
          cellphone: this.cellphone,
          email: this.email,
          description: this.description,
          accessibility: this.accessibility,
          street: this.street,
          neighborhood: this.neighborhood,
          cep: this.cep,
          city: this.city,
          state: this.state
          // ...more.props...
        })
        .onOk(() => {

        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },

    loading () {
      this.visible = true
      this.skeleton = true
      setTimeout(() => {
        this.visible = false
        this.skeleton = false
      }, 2000)
    },

    checkbox (val) {
      if (val === true) {
        this.$emit('addPresence', this.id)
      } else {
        this.$emit('delPresence', this.id)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  width: 100%;
  width: 320px;
  .content {
    height: 180px;
  }
}
</style>
