<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center items-center content-center">

      <div class="main-card-content">

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            filled
            v-model="login"
            label="Login *"
            hint="johnklai"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Por favor, digite seu login.']"
          />

          <q-input
            filled
            type="password"
            v-model="passwd"
            label="Senha *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Por favor, digite sua senha.']"
          />

          <div>
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
            />
          </div>
        </q-form>

      </div>
    </q-card>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      login: null,
      passwd: null
    }
  },

  methods: {
    onSubmit () {
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted'
      })
    },

    onReset () {
      this.login = null
      this.passwd = null
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
