<template>
  <q-layout view="hHh lpR fFf">

    <q-header
      reveal
      elevated
      class="bg-primary text-white"
    >
      <q-toolbar>
        <q-btn
          dense
          flat
          round
          icon="menu"
        />

        <q-toolbar-title class="row justify-center items-center content-center q-pt-xs">
          UMC - Gerenciamento de eventos
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>
