
<template>
  <q-layout view="hhh LpR fFf">

    <q-header
      reveal
      elevated
      class="bg-primary text-white"
    >
      <q-toolbar>
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="left = !left"
        />

        <q-toolbar-title class="row justify-center items-center content-center q-pt-xs">
          UMC - Gerenciamento de eventos
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="left"
      side="left"
      Elevated
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-1"
        >
        </q-item-label>

        <!-- Dashboard -->
        <q-item
          clickable
          v-ripple
          :to="dashboard"
          active-class="my-menu-link"
        >
          <q-item-section avatar>
            <q-icon
              color="primary"
              name="dashboard"
            />
          </q-item-section>

          <q-item-section>Dashboard</q-item-section>
        </q-item>

        <!-- Meus eventos -->
        <q-item
          v-if="userRole === '3' || userRole === '4'"
          clickable
          v-ripple
          :to="meus_eventos"
          active-class="my-menu-link"
        >
          <q-item-section avatar>
            <q-icon name="event_available" />
          </q-item-section>

          <q-item-section>Meus eventos</q-item-section>
        </q-item>

        <!-- Minha conta -->
        <q-item
          v-if="userRole === '3' || userRole === '4'"
          clickable
          v-ripple
          :to="minha_conta"
          active-class="my-menu-link"
        >
          <q-item-section avatar>
            <q-icon name="portrait" />
          </q-item-section>

          <q-item-section>Minha conta</q-item-section>
        </q-item>

        <!-- Light mode -->
        <q-item
          tag="label"
          v-if="userRole === '3' || userRole === '4'"
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-icon name="wb_sunny" />
          </q-item-section>

          <q-item-section>Modo claro</q-item-section>
          <q-item-section side>
            <q-toggle
              v-model="lightmode"
              @input="SetLightMode"
            />
          </q-item-section>
        </q-item>

        <!-- Deslogar -->
        <q-item
          v-if="userRole === '3' || userRole === '4'"
          clickable
          v-ripple
          @click="logOut()"
        >
          <q-item-section avatar>
            <q-icon
              color="negative"
              name="exit_to_app"
            />
          </q-item-section>

          <q-item-section>Deslogar</q-item-section>
        </q-item>

        <!-- Eventos -->
        <q-expansion-item
          v-if="userRole === '2' || userRole === '1'"
          icon="event"
          label="Eventos"
          :content-inset-level="0.5"
        >
          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="criacao_evento"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="add" />
              </q-item-section>

              <q-item-section>Criar novo evento</q-item-section>
            </q-item>
          </q-list>

          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="meus_eventos"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="event_available" />
              </q-item-section>

              <q-item-section>Meus eventos</q-item-section>
            </q-item>
          </q-list>

          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="criacao_local"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="location_on" />
              </q-item-section>

              <q-item-section>Criar novo local</q-item-section>
            </q-item>
          </q-list>

          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="lista_locais"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="list" />
              </q-item-section>

              <q-item-section>Lista de locais</q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <!-- Administradores-->
        <q-expansion-item
          v-if="userRole === '1'"
          icon="admin_panel_settings"
          label="Administradores"
          :content-inset-level="0.5"
        >
          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="lista_administradores"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="search" />
              </q-item-section>

              <q-item-section>Lista de administradores</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              :to="cadastro_administradores"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="add" />
              </q-item-section>

              <q-item-section>Criar novo administrador</q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <!-- Coordenadores-->
        <q-expansion-item
          v-if="userRole === '1'"
          icon="supervisor_account"
          label="Coordenadores"
          :content-inset-level="0.5"
        >
          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="lista_coordenadores"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="search" />
              </q-item-section>

              <q-item-section>Lista de coordenadores</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              :to="cadastro_coordenadores"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="add" />
              </q-item-section>

              <q-item-section>Criar novo coordenador</q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <!-- Palestrante -->
        <q-expansion-item
          v-if="userRole === '2' || userRole === '1'"
          icon="speaker_notes"
          label="Palestrantes"
          :content-inset-level="0.5"
        >
          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="lista_palestrantes"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="search" />
              </q-item-section>

              <q-item-section>Lista de palestrantes</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              :to="cadastro_palestrante"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="add" />
              </q-item-section>

              <q-item-section>Criar novo palestrante</q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <!-- Participantes -->
        <q-expansion-item
          v-if="userRole === '2' || userRole === '1'"
          icon="person"
          label="Participantes"
          :content-inset-level="0.5"
        >
          <q-list dense>
            <q-item
              clickable
              v-ripple
              :to="lista_usuarios"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="person_search" />
              </q-item-section>

              <q-item-section>Lista de participantes</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              :to="cadastro_usuario"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="person_add_alt_1" />
              </q-item-section>

              <q-item-section>Criar novo participante</q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <!-- Configurações -->
        <q-expansion-item
          v-if="userRole === '2' || userRole === '1'"
          icon="settings"
          label="Configurações"
          :content-inset-level="0.5"
        >
          <q-list dense>
            <q-item
              tag="label"
              v-ripple
            >
              <q-item-section avatar>
                <q-avatar icon="wb_sunny" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Tema Branco</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-toggle
                  v-model="lightmode"
                  @input="SetLightMode"
                />
              </q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              :to="minha_conta"
              active-class="my-menu-link"
            >
              <q-item-section avatar>
                <q-avatar icon="portrait" />
              </q-item-section>

              <q-item-section>Minha conta</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              @click="logOut()"
            >
              <q-item-section avatar>
                <q-avatar icon="exit_to_app" />
              </q-item-section>

              <q-item-section>Deslogar</q-item-section>
            </q-item>
          </q-list>

        </q-expansion-item>

      </q-list>
    </q-drawer>

    <q-page-container>
      <div style="background-image: url(fox!.png);
background-repeat:no-repeat;
background-position: center center; ">
        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="{ enter: 400, leave: 400 }"
        >
          <router-view />
        </transition>
      </div>
    </q-page-container>

  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'

// const linksData = [
//   {
//     title: 'Eventos',
//     caption: '',
//     icon: 'event',
//     link: '/'
//   },
//   {
//     title: 'Palestrantes',
//     caption: '',
//     icon: 'speaker_notes',
//     link: '/palestrantes'
//   },
//   {
//     title: 'Usuários',
//     caption: '',
//     icon: 'person',
//     link: '/usuarios'
//   },
//   {
//     title: 'Configurações',
//     caption: '',
//     icon: 'settings',
//     link: ''
//   }
// ]

import { QSpinnerPuff } from 'quasar'

export default {
  name: 'MainLayout',
  // components: { EssentialLink },
  data () {
    return {
      lightmode: false,
      left: false,
      userRole: localStorage.getItem('userRole'),
      userid: localStorage.getItem('userId'),
      dashboard: `/${localStorage.getItem('userId')}/dashboard`,
      meus_eventos: `/${localStorage.getItem('userId')}/meus_eventos`,
      cadastro_usuario: `/${localStorage.getItem('userId')}/cadastro_usuario`,
      cadastro_palestrante: `/${localStorage.getItem('userId')}/cadastro_palestrante`,
      lista_palestrantes: `/${localStorage.getItem('userId')}/lista_palestrantes`,
      criacao_evento: `/${localStorage.getItem('userId')}/criacao_evento`,
      lista_usuarios: `/${localStorage.getItem('userId')}/lista_usuarios`,
      criacao_local: `/${localStorage.getItem('userId')}/criacao_local`,
      lista_locais: `/${localStorage.getItem('userId')}/lista_locais`,
      cadastro_administradores: `/${localStorage.getItem('userId')}/cadastro_administradores`,
      lista_administradores: `/${localStorage.getItem('userId')}/lista_administradores`,
      cadastro_coordenadores: `/${localStorage.getItem('userId')}/cadastro_coordenadores`,
      lista_coordenadores: `/${localStorage.getItem('userId')}/lista_coordenadores`,
      minha_conta: `/${localStorage.getItem('userId')}/minha_conta`
      // essentialLinks: linksData
    }
  },

  methods: {
    SetLightMode () {
      this.$q.dark.toggle()
    },
    doSomethingElse () {
      // this method has been called (in this case)
      // because @hide event was triggered by QBogus component
    },

    logOut () {
      this.showLoading()
      // if the request fails, remove any possible user token if possible
      localStorage.removeItem('acessToken')
      localStorage.removeItem('userId')
      localStorage.removeItem('userRole')
      setTimeout(() => {
        this.$q.loading.hide()
        this.$router.push('/')
        this.$q.notify({
          type: 'positive',
          progress: true,
          position: 'top',
          message: 'Você deslogou!',
          caption: 'Até mais tarde.',
          multiLine: true,
          icon: 'done'
        })
      }, 700)
    },

    showLoading () {
      this.$q.loading.show({
        spinner: QSpinnerPuff,
        spinnerColor: 'purple',
        spinnerSize: 140,
        backgroundColor: 'black',
        messageColor: 'white'
      })
    }

  }

}
</script>

<style lang="scss">
.my-menu-link {
  color: white;
  background: #75689b;
}

.animated {
  transition-delay: 0.4s;
}
</style>
